
.bg-grey{background-color: #f6f6f6;}

.listFaq h4 {
    font-weight: 500;
    font-size: 18px;
    color: #353535;
}

.listFaq p {
    font-style: italic;
    margin: 0;
    margin-left: 4px;
    padding: 5px 0;
}
.listFaq .panel-body {
    padding: 15px 0px;
}







