
.bg-grey{background-color: #f6f6f6;}

.listFaq h4 {
    font-weight: 500;
    font-size: 18px;
    color: #353535;
}

.listFaq p {
    font-style: italic;
    margin: 0;
    margin-left: 4px;
    padding: 5px 0;
}
.listFaq .panel-body {
    padding: 15px 0px;
}

.question {
    margin-top: 0;
    margin-left: 40px;
    font-weight: 900;
    font-size: 16px;
    color: #000;
    margin-bottom: 3px;
}
.question-q-box {
    height: 30px;
    width: 30px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    float: left;
    line-height: 30px;
    background-color: #515357;
}
.answer {
    margin-left: 40px;
    color: #444;
    margin-bottom: 40px;
}